<h1>Search Results</h1>

<%= render :partial => "form" %>

<% if @beers.size > 0 then %>
  <table>

  <%= render :partial => "beers/beer_head" %>

  <%= render :partial => "beers/beer", :collection => @beers  %>

  </table>
<% else %>
  <p><b>No Results</b></p>
<% end %>

<br />

<%= link_to 'Home', :controller => :home %>
