<h1>Find the Hops</h1>
<p>where's the beer?</p>
<%= render :partial => 'search/form' %>
<p><%= link_to "Browse All Beers", beers_path %></p>
<p><%= link_to "Browse All Breweries", breweries_path %></p>
<p><%= link_to "Browse All Stores", stores_path %></p>
